name: ligo

channels:
  - conda-forge
  - defaults

dependencies:
  - python=3.9
  - numpy
  - scipy
  - matplotlib
  - h5py
  - jupyter
  - pytest
  - myst-nb
  - jupyter-book
  - pip
  - pip:
    - -e .  